@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: rgba(240, 248, 255, 0.863);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 7rem;
    padding: 2px;
}

.Menu nav ul{
    list-style: none;
    display: flex;
    text-align:center;
    padding: 5px;
}

li a{
    text-decoration: none;
    color: black;
    padding: 4px;
}

li a:hover{
    color: rgb(63, 63, 63);
}
.Social img{
    width: 30px;
    align-items: center;
    margin: 4px;
}

.welcome{
    background-image:url(/assets/body.png);
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 13.4em;
}

button{
    background-color: transparent;
    border:none;
    padding-top: 23rem;
    padding-left: 4.6rem;
}
#text_welcome{
    box-shadow: rgb(0, 0, 0) 0px 10px 20px, rgb(0, 0, 0) 0px 6px 6px;
    transition: all 300ms ease;
    border-radius: 20px;
    color: aliceblue;
    font-size: 21px;
    background-color: black;
    padding: 15px;
    text-decoration: none;
}

#text_welcome:hover{
    box-shadow: rgba(50, 50, 93, 0.637) 0px 30px 60px -12px inset,
    rgb(0, 0, 0) 0px 18px 36px -18px inset;
}