@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
/* Estilos generales para el cuerpo de la página */
body {
  background-color: #f0f0f000;
  margin: 0;
  padding: 0;
  background-image: url(/assets/marco-plano-laico-cucharas-madera-espacio-copia.jpg);
  background-size: cover;
}

.container{
     display: flex;
}
/* Estilos para el contenedor del formulario */
#registrationFormContainer {
  max-width: 400px;
  margin: 50px auto;
  background-color: #ffffff44;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos del formulario */
h1 {
  text-align: center;
  color: #000000;
}

/* Estilos para las etiquetas del formulario */
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Estilos para los campos de entrada del formulario */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el cursor sobre él */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para el mensaje de alerta */
.alert {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* ... (otros estilos) ... */

/* Estilos para los formularios */
#registrationFormContainer,
#loginFormContainer {
  max-width: 400px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos del formulario */
h2 {
  text-align: center;
  color: #000000;
}

/* Estilos para los campos de entrada del formulario */
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de enviar */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el botón de enviar al pasar el cursor sobre él */
input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilos para el mensaje de alerta */
.alert {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Estilos para el mensaje de bienvenida */
#welcomeMessage {
  max-width: 400px;
  margin: 20px auto;
  background-color: #3affa8;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  display: none; /* Ocultar inicialmente el mensaje */
}

/* Estilos para los títulos del mensaje de bienvenida */
#welcomeMessage h2 {
  color: #2a65bf;
  margin-bottom: 10px;
}

/* Estilos para el mensaje de bienvenida */
#welcomeMessage p {
  margin: 0;
}
